@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;700&display=swap");
:root {
  /* Semantic */
  --color-palette-primary-400: #7c5dfa;
  --color-palette-primary-100: #9277ff;
  --color-palette-secondary-700: #252945;
  --color-palette-secondary-800: #1e2139;
  --color-palette-danger-400: #ec5757;
  --color-palette-danger-100: #ff9797;
  --color-palette-light-400: #f8f8f8;
  --color-palette-neutral-400: #dfe3fa;
  --color-palette-neutral-500: #888eb0;
  --color-palette-neutral-700: #7e88c3;
  --color-palette-dark: #0c0e16;
  --color-palette-darker: #141625;
  --color-palette-white: #ffffff;

  /* Contextual */
  --color-background-primary-100: var(--color-palette-primary-100);
  --color-background-primary-100-hover: var(--color-palette-primary-100);
  --color-button-create-hover: var(--color-palette-primary-100);

  --color-border-primary: var(--color-palette-primary-400);
  --color-background-primary: var(--color-palette-primary-400);
  --color-text-primary: var(--color-palette-primary-400);
  --color-button-create: var(--color-palette-primary-400);

  --color-background-neutral-400: var(--color-palette-neutral-400);

  --color-text-neutral-500: var(--color-palette-neutral-500);

  --color-text-neutral-700: var(--color-palette-neutral-700);

  --color-text-dark: var(--color-palette-dark);

  --color-background-white: var(--color-palette-white);
  --color-text-white: var(--color-palette-white);

  --color-background-neutral: var(--color-palette-light-400);
  --color-background-neutral-hover: var(--color-palette-neutral-400);

  --color-background-secondary: var(--color-palette-secondary-700);

  --color-background-danger: var(--color-palette-danger-400);
  --color-background-danger-hover: var(--color-palette-danger-100);

  --animation-duration: 0.8s;

  --padding-sm: 2rem;
  --padding-md: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  position: relative;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "League Spartan", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
