@import "./base.css";

h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: -1px;
}
h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: -0.63px;
}
h3 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.8px;
}
h4 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}

p {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}
